<div class="row mx-auto">
  <div class="col-12">
    <h4>Course: {{course?.name}}</h4>
    <h5 class="mb-2 text-muted"># Subjects: {{course?.subjects?.length}}</h5>
    <p class="card-text">Enrollments: {{course?.enrollments}}</p>
    <div class="col-12">
      <table class="table table-hover">
        <thead class="table-light">
        <tr>
          <th scope="col">Subject</th>
          <th scope="col">Teacher</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let subject of course?.subjects">
          <td>{{ subject?.name }}</td>
          <td>{{ subject?.teacher?.firstName }} {{ subject?.teacher?.lastName }}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
